@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

.containercarousel{
    background-color: #F6FCF5;
}
.testimonial-card {
    background: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}
.quote-icon {
    font-size: 30px;
    color: white;
    background: #466d3b;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -20px;
    left: 20%;
    transform: translateX(-50%);
}
.user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 10px;
}
.see-more-btn {
    background: #466d3b;
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    margin-top: 10px;
}

