.img-fluid { 
    width: 100%;
    height: auto;
}

/* Parent container must be relative for absolute positioning */
#insights {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Styling for the button */
.more-info-btn {
    position: absolute;
    bottom: 32%; /* Default position */
    left: 33%; /* Centered in relation to text */
    padding: 8px 20px;
    background-color: #47773f;
    width: 14%;
    color: white;
    border: none;
    font-size: 22px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
}

.more-info-btn:hover{
    background-color: #f8f8f8;
    color: #47773f;
    border: 2px solid #47773f;
    text-decoration: none;
}

/* Responsiveness */

@media (min-width: 1300px) and (max-width: 1400px) {
    .more-info-btn {
        bottom: 31%;
        left: 30%;
        width: 15%;
        font-size: 17px;
    }
}

@media (max-width: 1280px) {
    .more-info-btn {
        bottom: 31%;
        left: 30%;
        width: 15%;
        font-size: 17px;
    }
}


@media (max-width: 1200px) {
    .more-info-btn {
        bottom: 28%;
        left: 30%;
        width: 15%;
        font-size: 17px;
    }
}

@media (max-width: 1024px) {
    .more-info-btn {
        bottom: 31%;
        left: 28%;
        width: 18%;
        font-size: 16px;
        padding: 6px 16px;
    }
}
@media (max-width: 868px) {
    .more-info-btn {
        bottom: 22%;
        left: 25%;
        width: 22%;
        font-size: 14px;
        padding: 6px 14px;
    }
}

@media (max-width: 768px) {
    .more-info-btn {
        bottom: 29%;
        left: 25%;
        width: 22%;
        font-size: 14px;
        padding: 6px 14px;
    }
}

@media (max-width: 668px) {
    .more-info-btn {
        bottom: 22%;
        left: 25%;
        width: 22%;
        font-size: 14px;
        padding: 6px 14px;
    }
}

@media (max-width: 641px) {
    .more-info-btn {
        bottom: 22%;
        left: 25%;
        width: 22%;
        font-size: 11px;
        padding: 6px 14px;
    }
}


@media (max-width: 531px) {
    .more-info-btn {
        bottom: 27%;
        left: 22%;
        width: 28%;
        font-size: 12px;
        padding: 5px 12px;
    }
}

@media (max-width: 480px) {
    .more-info-btn {
        bottom: 27%;
        left: 22%;
        width: 28%;
        font-size: 12px;
        padding: 5px 12px;
    }
}

@media (max-width: 430px) {
    .more-info-btn {
        bottom: 27%;
        left: 24%;
        width: 24%;
        font-size: 8px;
        padding: 5px 12px;
    }
}

@media (max-width: 424px) {
    .more-info-btn {
        bottom: 27%;
        left: 24%;
        width: 24%;
        font-size: 8px;
        padding: 5px 12px;
    }
}


@media (max-width: 360px) {
    .more-info-btn {
        bottom: 27%;
        left: 22%;
        width: 28%;
        font-size: 6px;
        padding: 5px 12px;
    }
}

@media (max-width: 344px) {
    .more-info-btn {
        bottom: 27%;
        left: 22%;
        width: 28%;
        font-size: 6px;
        padding: 5px 12px;
    }
}


@media (max-width: 337px) {
    .more-info-btn {
        bottom: 27%;
        left: 22%;
        width: 28%;
        font-size: 6px;
        padding: 5px 12px;
    }
}
