@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('main_mediaquery.css');


body {
    font-family: 'Open Sans', sans-serif;
    background-color: (122, 122, 122, 0.363);
    padding-top: 60px;
}

.offcanvas-body a{
    font-size: 22px;
}

.offcanvas-body a:hover{
    font-weight: 700;
}


.navbar{
    position: fixed;
    background-color: #ffffff;
    height: 80px;
    border-radius: 2px;
    padding: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Soft shadow for depth */
}

.navbar-brand{
    display: block; 
    width: 170px; 
    height: 70px; 
    background-image: url('/images/IMPERIUM_LOGO.svg');
    background-size: contain;
    margin-left: 120px;
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -9999px; 
}



/* Login button styles */
.login-button {
    background-color: #47773f;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 8px 20px;
    border-radius: 10px;
    text-decoration: none;
    margin-right: 100px;
    width: 130px;
    transition: 0.3s background-color;
    text-align: center;
}

/* Hover effect */
.login-button:hover {
    background-color: #f8f8f8;
    color: #47773f;
    border: 3px solid #47773f;
}

.offcanvas .login-button {
    display: block;
    text-align: center;
    width: 100%;
    margin: 10px 0;
}


.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}


.nav-link {
    color: #000000;
    font-weight: 1100;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color: #47773f;
}


.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #47773f;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}

.nav-link:hover::before, .nav-link.active::before {
    width: 100%;
    visibility: visible;
}




@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #009970;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }
    
    .nav-link:hover::before, .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}


/* PREV & NEXT BUTTON */
/* .carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: brightness(0); 
    left: -10px;
} */

.carousel-indicators button {
    filter: brightness(0.3);
}

#carouselExampleIndicators img {
    max-height: 870px; 
    width: auto; 
    object-fit: contain; 
}

#carouselExampleIndicators {
    padding-top: 50px;
    padding-bottom: 10px;
}
