@media (min-width: 1920px) {
    .navbar-brand {
        margin-left: 100px;
    }

    .hero-section {
        background-color: #e2e2e2;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
    }
}

@media (max-width: 1280px) {
    .navbar-brand {
        margin-left: 70px;
    }
    .login-button {
        margin-right: 70px;
    }
}

@media (max-width: 1024px) { 
    .navbar-brand {
        margin-left: 0;
    }
    .login-button {
        margin-right: 0;
    }
}

@media (max-width: 820px) { 
    .navbar-brand {
        margin-left: 0;
    }
}

@media (max-width: 768px) { 
    .navbar-brand {
        margin-left: 0;
    }

}

@media (max-width: 575px) { 
    .navbar-brand {
        margin-left: 0; 
    }
}

@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #009970;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }
    
    .nav-link:hover::before, .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}